body { background-image: url(https://static.vecteezy.com/system/resources/thumbnails/043/178/957/small_2x/damascus-steel-texture-cloud-pattern-color-illustration-damascus-abstract-flat-background-vector.jpg);
}
h1 { font-size: 60px; 
    text-align: center;
    font-family: fantasy;
    color: gold;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
p { text-align: center;
    font-size: 25px;
    font-family: monospace;
}
.mi-imagen { text-align: right;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
button { color: black;
    background-color: yellow;
    font-size: 100px;
  text-align: left;
}
.contenedor {display: flex;
    align-items: center;
    gap: 15px;

}

button:hover {color: lightseagreen;
    background-color: antiquewhite;
}